<div class="pl-[5%] min-h-[99vh] mb-[120px] flex flex-col lg:flex-row">
    <div class="z-10 lg:max-w-[50%] flex-grow flex-shrink basis-full mt-40">
        <h1
            class="max-w-[725px] mb-[80px] md:leading-[72px] text-[32px] md:text-[56px] lg:text-[65px] font-bold tracking-tighter text-title font-title">
            Accélérateur de
            décision immobilière
        </h1>
        <h2
            class="max-w-[680px] mb-[70px] text-[18px] sm:text-[24px] font-medium tracking-normal md:leading-[36px] text-subTitle font-title">
            Leader
            sur le marché
            des données
            immobilières,
            Yanport
            accompagne au
            quotidien
            les
            professionnels de
            l’immobilier résidentiel grâce à ses solutions d'évaluation, d’aide à la décision et d'analyse immobilière.
        </h2>
        <a class="relative px-8 py-4 border-4 rounded-full border-primary max-w-[300px] cursor-pointer">
            <span class="pr-10 text-lg font-semibold font-poppins text-primary">
                Demander une démo
            </span>
            <div class="absolute top-[-1px] right-[-1px] flex items-center p-[1.05rem] rounded-[25px] bg-primary">
                <img class=" w-[30px]" alt="Arrow" src="assets/header-section/dashed-arrow.svg">
            </div>

        </a>
    </div>
    <div class="z-10 ml-auto lg:max-w-[50%] flex-grow flex-shrink basis-full self-center">
        <img alt="Home page" class="object-scale-down w-full h-full" src="assets/header-section/home-page.png">
    </div>
</div>