<div class="bg-secondary font-poppins text-[24px]">
    <div class="flex flex-col justify-center px-[5%] py-[7%]">
        <div class="relative mb-20">
            <h4 class="font-bold  text-[32px]">NOS RÉSEAUX SOCIAUX</h4>
            <img class="absolute top-0 right-0" src="/assets/footer/dots-pattern.svg">
        </div>
        <div class="flex flex-row flex-wrap w-full h-full">
            <div class="flex flex-col h-full mx-4">
                <h4 class="font-bold text-[32px]">Contact</h4>
                <div class="flex flex-col pt-2">
                    <div class="mt-8">34 rue Laffitte 75009 Paris</div>
                    <div class="mt-8">info@yanport.com</div>
                </div>
            </div>
            <div class="flex flex-col h-full mx-4">
                <h4 class="font-bold text-[32px]">Service</h4>
                <div class="flex flex-col pt-2">
                    <div class="flex flex-row items-center justify-start">
                        <img class="w-[25px]" src="/assets/footer/agent-360-logo.svg">
                        <div class="my-2 ml-4">AGENT 360</div>
                    </div>
                    <div class="flex flex-row items-center justify-start">
                        <img class="w-[25px]" src="/assets/footer/adb-360-logo.svg">
                        <div class="my-2 ml-4">ADB 360</div>
                    </div>
                    <div class="flex flex-row items-center justify-start">
                        <img class="w-[25px]" src="/assets/footer/data-360-logo.svg">
                        <div class="my-2 ml-4">DATA 360</div>
                    </div>
                    <div class="flex flex-row items-center justify-start">
                        <img class="w-[25px]" src="/assets/footer/api-logo.svg">
                        <div class="my-2 ml-4">API</div>
                    </div>
                    <div class="flex flex-row items-center justify-center">
                        <div class="status-badge-dot" style="
          background: #2BAC76;
          height: 14px;
          width: 14px;
          border-radius: 100%;
        "></div>
                        <div class="ml-4 my-2 text-[18px]">Système opérationnel</div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col h-full mx-4">
                <h4 class="font-bold text-[32px]">Découvrir</h4>
                <div class="flex flex-col pt-2">
                    <div class="my-2">Nos solutions</div>
                    <div class="my-2">Notre expertise</div>
                    <div class="my-2">Nos tarifs</div>
                    <div class="my-2">Notre blog</div>
                </div>
            </div>
            <div class="flex flex-col h-full mx-4">
                <h4 class="font-bold text-[32px]">Entreprise</h4>
                <div class="flex flex-col pt-2">
                    <div class="my-2">Qui sommes nous ?</div>
                    <div class="my-2">Nous rejoindre</div>
                    <div class="my-2">Nous contacter</div>
                    <div class="my-2">Mentions légales</div>
                    <div class="my-2">Gestion des cookies</div>
                </div>
            </div>
            <div class="flex flex-col h-full mx-4">
                <h4 class="font-bold text-[32px]">Apprendre</h4>
                <div class="flex flex-col pt-2">
                    <div class="my-2">Centre d'aide</div>
                    <div class="my-2">Nos formations en ligne</div>
                    <div class="my-2">Nos tutoriels</div>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center w-full mt-20">
            <img class="w-[350px]" src="/assets/footer/h-logo-white.svg">
            <span class="text-[14px]">Tous droits réservés. © 2023</span>
        </div>
    </div>