<nav class="flex flex-row items-center w-full h-full min-w-full min-h-full px-12 py-6 bg-primary">
    <a><img class="cursor-pointer w-[180px] mr-48" alt="Yanport logo" src="assets/nav/logo-white.svg"></a>
    <ul class="flex items-center flex-grow flex-shrink text-lg basis-full">
        <li><a class="px-10 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Solutions</a></li>
        <li><a class="px-10 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Expertise</a></li>
        <li><a class="px-10 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Tarifs</a></li>
        <li><a class="px-10 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Blog</a></li>
        <li><a class="px-10 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Qui sommes-nous ?</a></li>
    </ul>
    <div class="flex items-center justify-around ml-auto cursor-pointer basis-40 flex-nowrap whitespace-nowrap">
        <a class="cursor-pointer border px-[26px] py-1 rounded-[58px] mr-2">Connexion</a>
        <a class="cursor-pointer bg-[#ec5870] border-none border px-[26px] py-1 rounded-[58px] mx-2">Essai gratuit</a>
        <a class="cursor-pointer bg-white text-primary border px-[26px] py-1 rounded-[58px] ml-2">Contact</a>
    </div>
</nav>