<nav
    class="fixed z-50 flex flex-row items-center w-full px-12 py-6 overflow-x-scroll min-[1350px]:overflow-visible bg-primary">
    <a routerLink="/"><img class="cursor-pointer w-[180px] mr-48" alt="Yanport logo"
            src="assets/nav/logo-white.svg"></a>
    <div class="flex items-center flex-grow flex-shrink text-lg basis-full">
        <a class="px-8 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Solutions</a>
        <a class="px-8 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Expertise</a>
        <a class="px-8 opacity-75 cursor-pointer hover:opacity-100" routerLink="/prices">Tarifs</a>
        <a class="px-8 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Blog</a>
        <a class="px-8 opacity-75 cursor-pointer hover:opacity-100" routerLink="/">Qui sommes-nous ?</a>
    </div>
    <div class="flex items-center justify-around ml-auto cursor-pointer basis-40 flex-nowrap whitespace-nowrap">
        <a class="cursor-pointer border px-[26px] py-1 rounded-[58px] mr-2">Connexion</a>
        <a class="cursor-pointer bg-redAccent border-none border px-[26px] py-1 rounded-[58px] mx-2">Essai gratuit</a>
        <a class="cursor-pointer bg-white text-primary border px-[26px] py-1 rounded-[58px] ml-2"
            routerLink="/contact">Contact</a>
    </div>
</nav>