<div class="flex flex-col items-center justify-center px-[5%]">
    <div class="font-poppins text-[24px] font-bold text-redAccent tracking-[.25em] mb-10">NEWS &amp; BLOG</div>
    <h2 class="tracking-[.25px] font-poppins text-[#00327a] text-[58px] font-bold leading-[72px] mb-10">
        Nos dernières nouvelles
    </h2>
    <h3 class="text-center max-w-[950px] text-customGrey tracking-[.25px] font-poppins text-[24px] font-semibold mb-10">
        Notre objectif ? Apporter des réponses aux problématiques commerciales des professionnels du secteur de
        l'immobilier résidentiel.
    </h3>
    <a class="relative px-10 py-4 mb-20 border-4 rounded-full cursor-pointer border-blueAccent bg-blueAccent">
        <span class="text-lg font-semibold font-poppins">
            Voir tous les articles
        </span>
    </a>
    <div class="flex flex-row items-center justify-center mb-16">
        <article
            class="basis-[33%] flex-shrink flex-grow max-w-[33%] flex flex-col p-6 mx-4 rounded-[30px] bg-background-pattern bg-primary min-h-[525px]">
            <h4 class="font-poppins font-bold text-[32px] h-[140px] text-ellipsis overflow-hidden mb-4 mt-1">Analyse des
                portails
                au niveau
                régional au 31 mars 2023
                (Vente)</h4>
            <div class="flex flex-grow flex-shrink mb-12 basis-auto">
                <p class="font-poppins text-[18px] text-ellipsis overflow-hidden h-[216px]"> Yanport, expert de la data
                    immobilière, analyse les annonces publiées sur les
                    principaux portails immobiliers.

                    Cet article présente le poids de ces portails au niveau des régions.

                    🔎 Nombre mensuel moyen d'annonces à la vente (appartements et maisons hors
                    marché du neuf) sur la période du 1er avril 2022 au 31 mars 2023.

                    À lire également :

                    * notre analyse nationale du marché des annonces immobilières sur la période
                    du
                    premier trismestre 2023
                    [https://www.yanport.com/blo...
                </p>
            </div>
            <a
                class="relative max-w-[50%] px-10 py-4 border-4 rounded-full cursor-pointer border-blueAccent bg-blueAccent">
                <span class="text-lg font-semibold font-poppins">
                    Lire la suite...
                </span>
                <div class="absolute right-0 top-0.5 flex items-center p-[1.05rem] rounded-[25px]">
                    <img class=" w-[30px]" alt="Arrow" src="assets/header-section/dashed-arrow.svg">
                </div>
            </a>
        </article>
        <article
            class="basis-[33%] flex-shrink flex-grow max-w-[33%] flex flex-col p-6 mx-4 rounded-[30px] bg-background-pattern bg-primary min-h-[525px]">
            <h4 class="font-poppins font-bold text-[32px] h-[140px] text-ellipsis overflow-hidden mb-4 mt-1">
                Comparatif Axel Springer et Schibsted Media
            </h4>
            <div class="flex flex-grow flex-shrink mb-12 basis-auto">
                <p class="font-poppins text-[18px] text-ellipsis overflow-hidden h-[216px]"> Comme chaque trimestre,
                    découvrez
                    notre focus sur les parts de marché, en termes d'annonces, détenues par les groupes : Ces deux
                    groupes détenant plusieurs portails immobiliers, une annonce peut être publiée sur une ou plusieurs
                    plateformes. Lors de la récupération des annonces nous détectons la multidiffusion c'est-à-dire
                    lorsqu'un même annonceur publie la même</p>
            </div>
            <a
                class="relative max-w-[50%] px-10 py-4 border-4 rounded-full cursor-pointer border-blueAccent bg-blueAccent">
                <span class="text-lg font-semibold font-poppins">
                    Lire la suite...
                </span>
                <div class="absolute right-0 top-0.5 flex items-center p-[1.05rem] rounded-[25px]">
                    <img class=" w-[30px]" alt="Arrow" src="assets/header-section/dashed-arrow.svg">
                </div>
            </a>
        </article>
        <article
            class="basis-[33%] flex-shrink flex-grow max-w-[33%] flex flex-col p-6 mx-4 rounded-[30px] bg-background-pattern bg-primary min-h-[525px]">
            <h4 class="font-poppins font-bold text-[32px] h-[140px] text-ellipsis overflow-hidden mb-4 mt-1">
                Analyse du marché des annonces immobilières
            </h4>
            <div class="flex flex-grow flex-shrink mb-12 basis-auto">
                <p class="font-poppins text-[18px] text-ellipsis overflow-hidden h-[216px]"> Comme chaque trimestre,
                    Yanport,
                    expert de la data immobilière, analyse les les annonces immobilières des professionnels sur les
                    principaux portails d'annonces payantes. Grâce à cette étude, nous tirons les indicateurs clés
                    permettant de comprendre et d'observer le dynamisme de ces portails. Vous découvrirez dans cet
                    article notre analyse du marché des annonces immobilières, sur la période du T1 2023, pour les
                    marchés de la transaction et à la location ainsi que pour les biens de l

                    ... </p>
            </div>
            <a
                class="max-w-[50%] relative px-10 py-4 border-4 rounded-full cursor-pointer border-blueAccent bg-blueAccent">
                <span class="text-lg font-semibold font-poppins">
                    Lire la suite...
                </span>
                <div class="absolute right-0 top-0.5 flex items-center p-[1.05rem] rounded-[25px]">
                    <img class=" w-[30px]" alt="Arrow" src="assets/header-section/dashed-arrow.svg">
                </div>
            </a>
        </article>
    </div>
</div>