<div class="px-[5%] bg-secondary">
    <div class="w-full flex flex-row items-center flex-wrap justify-center px-[5vw] py-[160px] ">
        <div class="lg:w-[50%]">
            <img class=" w-[100px] ml-32" alt="Points design" src="assets/feature-section/points-design.svg">
            <img class="h-auto max-w-full" alt="Data science image" src="assets/feature-section/data-science.svg">
        </div>
        <div class="lg:w-[50%] ml-[5%]">
            <div class="font-poppins text-[24px] font-bold text-redAccent tracking-[.25em] mt-[64px] mb-[90px]">DATA
                PRODUCT</div>
            <h3
                class="tracking-[.25px] font-poppins text-[30px] md:text-[40px] lg:text-[58px] font-semibold md:leading-[72px] mb-10">
                La Data Science au
                service des
                professionnels de l’immobilier</h3>
            <p
                class="text-[18px] sm:text-[24px] font-normal md:leading-[40px] mb-12 max-w-[830px] tracking-normal text-justify">
                Depuis sa création, Yanport centralise, consolide, et valorise les données pertinentes pour l'immobilier
                résidentiel afin d’aider les professionnels du secteur dans leur prise de décision à partir de
                l’information la plus fiable possible. Nos équipes de data scientists et de macroéconomistes analysent
                et valorisent nos données en développant des algorithmes, basés sur des méthodes avancées de machine
                learning et d’intelligence artificielle.
            </p>
            <a
                class="relative px-10 py-4 border-4 rounded-full border-[#FF7575] bg-redAccent lg:max-w-[300px] cursor-pointer">
                <span class="text-[14px] md:text-lg font-semibold font-poppins">
                    Découvrir notre expertise
                </span>
            </a>
        </div>
    </div>
</div>