<div class="px-[7%] py-12 bg-cover bg-center bg-primary bg-background-pattern">
    <div class="w-[85vw]">
        <div class="flex flex-row items-center justify-between">
            <h3 class="mb-[50px] font-bold text-left font-poppins text-[56px]">Ils nous font confiance</h3>
            <a class="flex flex-row px-10 py-4 border-4 rounded-full cursor-pointer">
                <span class="text-lg font-semibold font-poppins">
                    Découvrir nos cas clients
                </span>
                <img alt="Arrow" src="assets/logo-section/arrow.svg" class="ml-4">
            </a>
        </div>
        <div class="flex flex-row flex-wrap justify-center content center">
            <div
                class="flex-shrink flex-grow flex-basis-[16.66%] flex flex-row items-center justify-center max-w-[16.66%]">
                <img class="p-[20px] max-w-full h-auto" alt="Logo Square Habitat"
                    src="assets/logo-section/logo-square-habitat-white.png">
            </div>
            <div
                class="flex-shrink flex-grow flex-basis-[16.66%] flex flex-row items-center justify-center max-w-[16.66%]">
                <img class="p-[20px] max-w-full h-auto" alt="Logo Foncia"
                    src="assets/logo-section/logo-foncia-white.png">
            </div>
            <div
                class="flex-shrink flex-grow flex-basis-[16.66%] flex flex-row items-center justify-center max-w-[16.66%]">
                <img class="p-[20px] max-w-full h-auto" alt="Logo Digit re"
                    src="assets/logo-section/logo-digit-re-white.png">
            </div>
            <div
                class="flex-shrink flex-grow flex-basis-[16.66%] flex flex-row items-center justify-center max-w-[16.66%]">
                <img class="p-[20px] max-w-full h-auto" alt="Logo Francelot"
                    src="assets/logo-section/logo-francelot-white.png">
            </div>
            <div
                class="flex-shrink flex-grow flex-basis-[16.66%] flex flex-row items-center justify-center max-w-[16.66%]">
                <img class="p-[20px] max-w-full h-auto" alt="Logo Safti" src="assets/logo-section/logo-safti-white.png">
            </div>
            <div
                class="flex-shrink flex-grow flex-basis-[16.66%] flex flex-row items-center justify-center max-w-[16.66%]">
                <img class="p-[20px] max-w-full h-auto" alt="Logo La Francaise"
                    src="assets/logo-section/logo-la-francaise-white.png">
            </div>
        </div>
    </div>
</div>