<div>
    <div
        class="h-[650px] min-h-[650px] bg-center bg-no-repeat bg-cover bg-primary bg-background-pattern px-[5%] py-14 flex items-start flex-col pt-32">
        <h1 class="text-[32px] md:text-[56px] lg:text-[65px] font-bold tracking-tighter font-title">Nos tarifs</h1>
        <h2 class="text-[18px] sm:text-[24px] font-medium tracking-normal md:leading-[36px] font-title">
            Découvrez nos différentes offres et trouvez celle la mieux adaptée à votre activité.
        </h2>
    </div>
    <div class="relative w-full h-full">
        <div
            class="relative top-[-280px] flex flex-row flex-wrap items-stretch justify-center flex-shrink w-full content-stretch">
            <app-price-card [cardData]="agent360CardData"></app-price-card>
            <app-price-card [cardData]="adb360CardData"></app-price-card>
            <app-price-card [cardData]="data360CardData"></app-price-card>
            <app-price-card [cardData]="apiCardData"></app-price-card>
        </div>
    </div>
</div>