<div>
  <app-navbar></app-navbar>
  <ng-container *ngIf="(router.url === '/')">
    <div class="flex flex-row items-stretch justify-end content-stretch">
      <div class="absolute w-[35%] h-[130vh] rounded-bl-[240px] bg-primary bg-background-pattern"></div>
    </div>
    <app-header-section></app-header-section>
    <app-feature-section></app-feature-section>
    <app-logo-section></app-logo-section>
    <app-solutions-section></app-solutions-section>
    <app-testimonials-section></app-testimonials-section>
    <app-news-section></app-news-section>
  </ng-container>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>