.colored-circles-background:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/assets/solutions-section/colored-circles-background.svg);
    background-repeat: no-repeat;
    background-position: right top;
    opacity: .15;
    filter: blur(30px);
}