<div class="relative colored-circles-background">
    <div class="flex ml-[5%]">
        <div class="w-[50%] mr-[5%] pt-[100px]">
            <div class="font-poppins text-[24px] font-bold text-redAccent tracking-[.25em] mb-7">SIMPLE
                INTUITIVE</div>
            <h3 class="text-secondary tracking-[.25px] font-poppins text-[58px] font-semibold leading-[72px] mb-12">La
                Solutions digitales pour les professionnels de l’immobilier</h3>
            <p class="text-secondary text-[24px] font-normal leading-[40px] tracking-normal text-justify mb-12">
                Nos solutions sont conçues pour répondre aux problématiques des différents métiers du secteur de
                l'immobilier résidentiel.
            </p>
            <a class="relative px-10 py-4 border-4 rounded-full cursor-pointer border-primary bg-primary">
                <span class="text-lg font-semibold font-poppins">
                    Nos solutions
                </span>
            </a>
        </div>
        <div class="z-10 ml-auto max-w-[50%] flex-grow flex-shrink basis-full self-center">
            <img alt="Home page" class="object-scale-down w-full h-full mt-20"
                src="assets/header-section/home-page.png">
        </div>
    </div>
</div>