<div class="py-[120px] bg-background-graphic">
    <div class="relative mb-20 colored-circles-background">
        <div class="flex ml-[5%]">
            <div class="w-[50%] mr-[10%]">
                <div class="font-poppins text-[24px] font-bold text-redAccent tracking-[.25em] mb-7">INTERVIEW</div>
                <h3 class="text-secondary tracking-[.25px] font-poppins text-[58px] font-semibold leading-[72px] mb-12">
                    Vous cherchez des solutions adaptées aux professionnels de l'immobilier ?</h3>
                <a class="relative px-10 py-4 border-4 rounded-full cursor-pointer border-redAccent bg-redAccent">
                    <span class="text-lg font-semibold font-poppins">
                        Découvrir notre expertise
                    </span>
                </a>
            </div>
            <div class="p-4 pt-[30px] w-[50%] text-customGrey  mr-[10%] hover:shadow-lg">
                <img alt="carmen logo" class="w-[200px] h-[100px]" src="assets/testimonials-section/logo-carmen.svg">
                <p
                    class="font-poppins text-[32px] italic mt-6 mb-20 tracking-[.25px] max-h-[250px] max-w-[500px] leading-[35px]">
                    “Les
                    outils Yanport sont complémentaires et nous
                    permettent
                    de
                    générer de nouveaux leads d'un côté
                    puis de les exploiter commercialement de l'autre.“</p>
                <div class="flex flex-row items-center justify-start">
                    <img src="assets/testimonials-section/avatar.png">
                    <div class="ml-4">
                        <h4 class="font-bold font-poppins text-[24px] mb-4">Gautier EDEL</h4>
                        <h5 class="font-bold font-poppins text-[22px]">Directeur BU transaction</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>