<div class="h-full px-[5%]">
    <div class="flex flex-row flex-wrap items-center justify-center">
        <div
            class="card-container flex-col flex flex-shrink flex-grow basis-[48%] max-w-[48%] rounded-[30px] m-[15px] p-[55px]">
            <div class="flex flex-row items-center justify-start">
                <img class="w-[80px]" alt="Agent 360 logo"
                    src="assets/solutions-section/solutions-cards/agent-360-logo-color.svg">
                <h4 class="text-secondary tracking-[.25px] font-poppins text-[32px] font-bold ml-8 pb-2">AGENT 360</h4>
            </div>
            <h5 class="text-secondary tracking-[.25px] font-poppins text-[32px] mt-8">Signez plus de
                mandats au
                juste prix</h5>
            <div class="flex flex-row flex-wrap items-center h-[92px] max-w-[90%] mt-10">
                <div
                    class="tracking-[1.25px] bg-[#03cea433] font-bold text-agent360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Agent immobilier
                </div>
                <div
                    class="tracking-[1.25px] bg-[#03cea433] font-bold text-agent360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Mandataire
                </div>
                <div
                    class="tracking-[1.25px] bg-[#03cea433] font-bold text-agent360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Agent commercial
                </div>
                <div
                    class="tracking-[1.25px] bg-[#03cea433] font-bold text-agent360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Chasseur immobilier
                </div>
            </div>
            <a
                class="mt-10 relative px-10 py-3 border-4 rounded-full cursor-pointer border-agent360 bg-agent360 max-w-[40%]">
                <span class="text-lg font-semibold font-poppins">
                    Découvrir la solution
                </span>
            </a>
        </div>
        <div
            class="card-container flex-col flex flex-shrink flex-grow basis-[48%] max-w-[48%] rounded-[30px] m-[15px] p-[55px]">
            <div class="flex flex-row items-center justify-start">
                <img class="w-[80px]" alt="Adb 360 logo"
                    src="assets/solutions-section/solutions-cards/adb-360-logo-color.svg">
                <h4 class="text-secondary tracking-[.25px] font-poppins text-[32px] font-bold ml-8 pb-2">ADB 360</h4>
            </div>
            <h5 class="text-secondary tracking-[.25px] font-poppins text-[32px] mt-8">L’étude locative incontestable
            </h5>
            <div class="flex flex-row flex-wrap items-center h-[92px] max-w-[90%] mt-10">
                <div
                    class="tracking-[1.25px] bg-[#fac74833] font-bold text-adb360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Administrateur de biens
                </div>
                <div
                    class="tracking-[1.25px] bg-[#fac74833] font-bold text-adb360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Gestionnaire locatif
                </div>
                <div
                    class="tracking-[1.25px] bg-[#fac74833] font-bold text-adb360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Conseiller locatif
                </div>
                <div
                    class="tracking-[1.25px] bg-[#fac74833] font-bold text-adb360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Syndic de copropriété
                </div>
            </div>
            <a
                class="mt-10 relative px-10 py-3 border-4 rounded-full cursor-pointer border-adb360 bg-adb360 max-w-[40%]">
                <span class="text-lg font-semibold font-poppins">
                    Découvrir la solution
                </span>
            </a>
        </div>
        <div
            class="card-container flex-col flex flex-shrink flex-grow basis-[48%] max-w-[48%] rounded-[30px] m-[15px] p-[55px]">
            <div class="flex flex-row items-center justify-start">
                <img class="w-[80px]" alt="Adb 360 logo"
                    src="assets/solutions-section/solutions-cards/data-360-logo-color.svg">
                <h4 class="text-secondary tracking-[.25px] font-poppins text-[32px] font-bold ml-8 pb-2">DATA 360</h4>
            </div>
            <h5 class="text-secondary tracking-[.25px] font-poppins text-[32px] mt-8">Une vision unique des marchés
                immobiliers

            </h5>
            <div class="flex flex-row flex-wrap items-center h-[92px] max-w-[90%] mt-10">
                <div
                    class="tracking-[1.25px] bg-[#473bf033] font-bold text-data360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Collectivité locale/Agence d'urbanisme
                </div>
                <div
                    class="tracking-[1.25px] bg-[#473bf033] font-bold text-data360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Promoteur
                </div>
                <div
                    class="tracking-[1.25px] bg-[#473bf033] font-bold text-data360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Bailleur social
                </div>
                <div
                    class="tracking-[1.25px] bg-[#473bf033] font-bold text-data360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Foncière/Gestionnaire d'actifs
                </div>
                <div
                    class="tracking-[1.25px] bg-[#473bf033] font-bold text-data360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Banque/Assurance
                </div>
                <div
                    class="tracking-[1.25px] bg-[#473bf033] font-bold text-data360 m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Expert immobilier
                </div>
            </div>
            <a
                class="mt-10 relative px-10 py-3 border-4 rounded-full cursor-pointer border-data360 bg-data360 max-w-[40%]">
                <span class="text-lg font-semibold font-poppins">
                    Découvrir la solution
                </span>
            </a>
        </div>
        <div
            class="card-container flex-col flex flex-shrink flex-grow basis-[48%] max-w-[48%] rounded-[30px] m-[15px] p-[55px]">
            <div class="flex flex-row items-center justify-start">
                <img class="w-[80px]" alt="Api logo" src="assets/solutions-section/solutions-cards/api-logo-color.svg">
                <h4 class="text-secondary tracking-[.25px] font-poppins text-[32px] font-bold ml-8 pb-2">API</h4>
            </div>
            <h5 class="text-secondary tracking-[.25px] font-poppins text-[32px] mt-8">Intégrez nos données dans vos
                outils

            </h5>
            <div class="flex flex-row flex-wrap items-center h-[92px] max-w-[90%] mt-10">
                <div
                    class="tracking-[1.25px] bg-[#ff6b6b33] font-bold text-api m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Développeur

                </div>
                <div
                    class="tracking-[1.25px] bg-[#ff6b6b33] font-bold text-api m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Data scientist

                </div>
                <div
                    class="tracking-[1.25px] bg-[#ff6b6b33] font-bold text-api m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Responsable digital

                </div>
                <div
                    class="tracking-[1.25px] bg-[#ff6b6b33] font-bold text-api m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Responsable de données

                </div>
                <div
                    class="tracking-[1.25px] bg-[#ff6b6b33] font-bold text-api m-1 text-[14px] px-[12px] py-[9px] rounded-[16px] min-h-[32px]">
                    #Directeur des systèmes d'informations

                </div>
            </div>
            <a class="mt-10 relative px-10 py-3 border-4 rounded-full cursor-pointer border-api bg-api max-w-[40%]">
                <span class="text-lg font-semibold font-poppins">
                    Découvrir la solution
                </span>
            </a>
        </div>
    </div>
</div>